In [20]:
def AddAllNo(*args):
    c = 0
    for i in range(len(args)):
        c+=args[i]
    print(c)

In [21]:
AddAllNo(2,2)

4

In [45]:
def searchTypeOfValue(**c):
    for i in c:
     print("this type is", c[i], type(i))
    else:
          print("Error: wrong type")

In [46]:
searchTypeOfValue(c1 = 23, c2 = "Amina")

this type is 23 <class 'str'>
this type is Amina <class 'str'>
Error: wrong type

In [1]:
"""
using Functions
given a list of numbers i.e [1,2,4,-5,7,9,3,2], make another list that containes a sorted list in order 
from min to max i.e yor list should be [-5,1,2,2,3,4,7,9]
"""

def find_minimum(L):
    min = L[0]
    idx = 0
    count = 0
    for num in L:
        if min > num:
            min = num
            idx = count
        else:
            pass
        count += 1
        # new_list = L.append(min)
    return(min, idx)
    # print(L)
find_minimum([1,2,3,-5,-9,-1])

(-9, 4)

In [2]:
def find_minimum(L):
    min_val = L[0]
    idx = 0
    count = 0
    for num in L:
        if min_val > num:
            min_val = num
            idx = count
        count += 1
    return min_val, idx

def sort_list(L):
    sorted_list = []
    while L:
        min_val, idx = find_minimum(L)
        sorted_list.append(min_val)
        # Remove the found minimum from the list
        L.pop(idx)
    return sorted_list

# Test the function
original_list = [1, 2, 4, -5, 7, 9, 3, 2]
print(sort_list(original_list))

[-5, 1, 2, 2, 3, 4, 7, 9]

In [12]:
"""Exercise 1: Temperature Converter
Write a function called convert_temperature that:

Takes a temperature in Celsius as input.
Converts it to Fahrenheit using the formula: 
F = (C * 9/5) + 32​
Returns the Fahrenheit value.
Then, write a global variable freezing_point set to 0 (freezing point in Celsius) and create a function is_freezing that:
Uses freezing_point to check if a given Celsius temperature is at or below the freezing point.
Returns True if freezing or below, and False otherwise.
"""
def convert_temperature(c):
    # celcius = float(input("Enter temperature in celcuis"))  #temprature in celcius
    fahrenheit = (c * 9/5) + 32
    return fahrenheit

freezing_point = 0  #freezing point in celcius
def is_freezing(d):
    # celcius = float(input("Enter temperature in celcuis"))  #temprature in celcius
    if d <= freezing_point:
        return True
    else:
        return False

print(convert_temperature(0))
print(convert_temperature(32))
print(is_freezing(0))
print(is_freezing(20))
print(is_freezing(-5))
# convert_temperature()
# is_freezing()

32.0
89.6
True
False
True

In [30]:
"""Exercise 2: Counter Function with Nested Scope
Write a function called create_counter that:
Defines a variable count with an initial value of 0.
Defines a nested function increment that:
Increments count by 1 each time it’s called.
Prints the current value of count.
create_counter should return the increment function.
Test the create_counter function by creating a counter instance and calling the increment function multiple
times to see how the nested scope works."""

def create_counter():
    count = 0
    def increment():
        nonlocal count
        count += 1
        print(count)
    return increment
    
counter = create_counter()
counter()
counter()
counter()

1
2
3

In [67]:
""" Expense Tracker
Create a program that tracks daily expenses using a function. Write a function add_expense that:

Takes the name of the expense (like "Groceries"), the amount spent, and an optional category (like "Food").
Adds the expense to a list, expenses.
Each expense should be stored as a dictionary with keys: name, amount, and category.
Write another function get_total_expense that:
Calculates and returns the total amount spent so far."""

expenses = []
def add_expense(name, amount, category):
    each_expense = {
        'name': name,
        'amount': amount,
        'category': category
    }
    expenses.append(each_expense)

def get_total_expense():
    total = 0
    for items in expenses:
        total += items['amount']
    return total
#calling the function
add_expense('popcorn', 200, 'food')
add_expense('pen', 200, 'item')
add_expense('phone', 200, 'it')
add_expense('watch', 200, 'itemm')

print(get_total_expense())

800

In [68]:
add_expense('mango', 100, 'fruit')
print(get_total_expense())

900

In [97]:
"""
Temperature Logger
Create a program that logs temperatures in different cities. Write a function log_temperature that:

Takes a city name and a temperature in Celsius.
Adds the data to a dictionary city_temperatures, where the city name is the key, and the value is a list of logged temperatures for that city.
Then, write a function get_average_temperature that:

Takes the name of a city as input.
Calculates and returns the average temperature recorded for that city.
"""

city_temperatures = {}
def log_tmp(name, temperature):
    if name in city_temperatures:
        city_temperatures[name].append(temperature)
    else:
        city_temperatures[name] = [temperature]
def get_average_tmp(name):
    if name in city_temperatures:
        temperatures = city_temperatures[name]
        average = sum(temperatures)/len(temperatures)
        return average
    else:
        return 'city and tmp not logged'

log_tmp('kaduna', 20)
log_tmp('kaduna', 40)
log_tmp('kaduna', 40)
log_tmp('kaduna', 50)

# av = get_average_tmp('kaduna')
get_average_tmp('kaduna')

37.5

In [110]:
def factorial(a):
    fact_product = 1
    for number in range(1, a+1):
        fact_product = fact_product * number 
    return fact_product
print(factorial(5))

120

Functions with string formating and positiional argument

In [111]:
list_name = ['amina', 'zainab', 'yusra', 'mujahid', 'isa']

In [124]:
list_age = [25, 21, 27, 32, 36]

In [150]:
def name_age(name, age):
        return 'Your name is {} and youre {} years old'.format(name, age)

In [125]:
for idx, name in enumerate(list_name):
     age = list_age[idx]
     name_age(name, age)
     print('Your name is {} and youre {} years old'.format(name, age))

Your name is amina and youre 25 years old
Your name is zainab and youre 21 years old
Your name is yusra and youre 27 years old
Your name is mujahid and youre 32 years old
Your name is isa and youre 36 years old

In [140]:
# LAmda Functions

pii = lambda x: x*3.14
pii(5)

15.700000000000001

In [149]:
root = lambda y: y**y #gives the root of y

In [148]:
root(3) # same as 3 to yhe power of 3

27

In [146]:
square_root = lambda z: z**2

In [147]:
square_root(4)

16